<body>
  <ul><li><p><a href='/BSD'>Click to visit BDS Students</a></p></li></p>
    <li><p><a href='/highGPA'>Click to see who has the highest GPA</a></p></li>
    <li><p><a href = '/'> click to see the home page</a></p></li>
    <li><p><a href="/allStudents"> click to see all students</a></p></li>
    </ul>
    <hr>
     <div>
      {{{body}}}
    </div>
    <h2>Declaration </h2> <p> the test text is displayed in oaragraph as shown in screenshot.<br> <br> I acknowledge the college's academic integrity policy - and my own integrity - remain in effect <br> whether my work is done remotwly or onsite. Any test or assignemtn is an act of trust between <br> me and my insctructor and especially with my classmate.. even when no one is watching. I <br> declare I will not break that trust. <br> <br> Name: <mark><b>Kush Patel</b></mark> <br> <br> Student Number: <mark><b> 104006218</b></mark>
</body>
</html>